<h2>Password Changed</h2>
<p>Hi <%= name %>,</p>
<p>Your password has been successfully changed.</p>
<p>If you didn’t make this change, please contact support immediately.</p>
<a href="mailto:support@yourcompany.com" class="button">Contact Support</a>
